@use "variables" as v;
@use "fonts" as f;


.btnfixed{
    display: flex;
    justify-content: space-around;
    gap: 8px;
    position: fixed;
    bottom: 20px;
    right:  25px;
    z-index: 2000;
    padding: 15px 20px;
    font-size: 16px;
    font-weight: bold;
    background-color: v.$color2;
    border-radius: 48px;
    color: v.$colorwhite;
   i{
    font-size: 20px;
   }
   
}