$menucolor:#222222;
$color1:#0098D9;
$color2:#00A550;
$bgcolor:#F6F6F6;
$colorwhite:#fff;
$colorblack:#000;
$black666:#666666;
$bgcard:#E6F6FC;
$black363737:#363737;
$whitea6a6a6a6:#A6A6A6A6;
$input:#2C2C2C;
$colorhover:#0ed16c;
$colorhover2:#e6e6e6;



